.center
{
    text-align: center;    
}
body {
    /*background: skyblue;*/
    color: red;
    font-size: 40px;
    perspective: 800px;
    background-image: url("https://github.com/skyaria2016/table/blob/master/img_theme/newgame/newgame.png?raw=true");
}
