.center
{
    text-align: center;    
}
body {
    background: skyblue;
    color: red;
    
    background-image: "https://github.com/skyaria2016/table/blob/master/img_theme/newgame/newgame.png?raw=true";
}