@font-face { 
    font-family : 'SeoulNamsanM';
    src : url('font/SeoulNamsanM_1.woff'); 
}

body {
    /*background: skyblue;*/
    font-family : 'SeoulNamsanM';
    text-align: center;   
    color: red;
    
    perspective: 800px;
    background-image: url("https://github.com/skyaria2016/table/blob/master/img_theme/kemono/kemono.jpg?raw=true");
}
.h5
{
    font-size:40px;
}
.clock
{
    border:1px solid #dedede; 
    width:600px; 
    height:250px; 
    line-height:250px; 
    color:#666;
    font-size:100px; 
    text-align:center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(68, 58, 58);
    color: white;
    text-align: center;
}