body {
    background: #000000;
    color: #ffffff;
    font-family: 'SeoulNamsanM';
    text-align: center;
}
a {
    color: #ffffff;
}
.wrap {
    width: 100%;
    margin-bottom: 5px;
}
.winner_winner_chicken_dinner
{
    color: yellow;
    text-align: left;
}
.winner_winner_chicken_dinner_none_yellow
{
    text-align: left;
}
.laby_button {
    font-size: 14px;
    font-family: 'SeoulNamsanM';
    display: inline-block;
    padding: 10px;
    margin : 0 3px;
    margin-top : 30px;
    border: 1px solid white;
    background-color: black;
    font-size: 17px;
    color: #fff;
    line-height: 25px;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
}

.laby_button:hover {
    border: 1px solid white;
    background-color: gray;
    color: #fff;
  }
.hint {
    display: none;
}

.sekaiju_no_meikyuu
{
    font-size: 14px;
    font-family: 'SeoulNamsanM';
    display: inline-block;
    padding: 10px;
    margin : 0 3px;
    margin-top : 30px;
    border: 1px solid  greenyellow;
    background-color: black;
    font-size: 17px;
    color: #fff;
    line-height: 25px;
    text-align: center;
    vertical-align: center;
    cursor: pointer;
}
.sekaiju_no_meikyuu:hover {
    border: 1px solid white;
    background-color: gray;
    color: #fff;
  }