body {
    background: black;
    color: white;
    font-family: 'SeoulNamsanM';
    text-align: center;
    perspective: 800px;    
}
a {
    color: white;
}
.list_wrap {
    width: 100%;
    height: auto;
    font-size: 24px;
    margin: 40px 0px;
}